.section {
  display: relative;
  background-image: url(../../photos/homepage.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.main__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35vh;
}

.main__text > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: var(--color-primary);
}

.main__text > h2 {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 25px;
  color: var(--color-white);
  text-align: center;
}

.main__text > button {
  width: 12rem;
  height: 3.5rem;
  border-radius: 25px;
  background: var(--color-primary);
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.main__text > button > h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.main__text > button > span {
  font-size: 30px;
  line-height: 4;
  margin-top: 9px;
}

.main__text > button:hover {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  opacity: 80%;
}

.main__text > button:active {
  width: 11.9rem;
  height: 3.4rem;
  transition: var(--transition);
}

.main__text > h3 {
  color: var(--color-white);
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0.5rem;
}

.main__text > button > span {
  line-height: 2;
}

.main__text-sub {
  text-align: center;
  padding: 5px;
  color: var(--color-white);
  font-family: "Poppins";
  background-color: rgba(0, 56, 54, 0.4);
}

.main__text-sub > h3 {
  font-weight: 350;
}

@media screen and (max-width: 830px) {
  .main__text {
    margin-top: 30vh;
  }

  .main__text > h1 {
    font-size: 70px;
  }
  .main__text > h2 {
    font-size: 16px;
  }
  .main__text > button {
    margin-top: 2rem;
  }

  .main__text-sub {
    font-size: 10px;
  }
}
