body,
.q1__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.question__text {
  text-align: center;
}

.title {
  color: #f4e6b1;
  font-size: 25px;
  font-weight: 700;
}

.question {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

.choice__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.option {
  width: 590px;
  height: 71px;
  cursor: pointer;
  border: 2px solid #f4e6b1;
  border-radius: 12px;
  padding: 15px 40px 15px 8px;
  margin-bottom: 8px;
  text-align: center;
}

.option__text {
  color: #fff9c2;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}

.next__btn {
  width: 188px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d4d86;
  border-radius: 16px;
  cursor: pointer;
}
.next__btn > p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  background: transparent;
}
.next__btn > p > span {
  left: 5%;
  right: 43%;
  top: 80%;
  bottom: -70%;
  transform: rotate(-90deg);
  color: white;
}
