body, .q1__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question__text {
    text-align: center;
    padding-bottom: 15px;
}

.title {
    color: #F4E6B1;
    font-size: 25px;
    font-weight: 700;
}

.question {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}

.option {
    width: 590px;
    height: 71px;
    cursor: pointer;
    border: 2px solid #F4E6B1;
    border-radius: 12px;
    padding: 15px 40px 15px 8px;
    margin-bottom: 8px;
    text-align: center;
}

.option__text {
    color: #FFF9C2;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}

.next__btn {
    width: 188px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1D4D86;
    border-radius: 16px;
    cursor: pointer;
}
.btn__text {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    background: transparent;
}