body {
    height: 100vh;
}

body, .success__wrapper, .success__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.success__icon {
    height: 500px;
}

.success__text > h2 {
    width: 100% !important;
    color: #1d4d86;
}