form {
  background-image: url("../../photos/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
